In [125]:
import pandas as pd

In [126]:
marathon_df = pd.read_csv('TWO_CENTURIES_OF_UM_RACES.csv')
marathon_df.head()

/var/folders/km/20gfmy8d1z331xdcx38w1q8h0000gn/T/ipykernel_20820/858560620.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  marathon_df = pd.read_csv('TWO_CENTURIES_OF_UM_RACES.csv')

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4

In [127]:
marathon_df.shape

(7461195, 13)

In [128]:
marathon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7461195 entries, 0 to 7461194
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Year of event              int64
 1   Event dates                object
 2   Event name                 object
 3   Event distance/length      object
 4   Event number of finishers  int64
 5   Athlete performance        object
 6   Athlete club               object
 7   Athlete country            object
 8   Athlete year of birth      float64
 9   Athlete gender             object
 10  Athlete age category       object
 11  Athlete average speed      object
 12  Athlete ID                 int64
dtypes: float64(1), int64(3), object(9)
memory usage: 740.0+ MB

#### Seperating only data with Marathon distance as 100km and taken place in IND or USA in the year 2021.

In [129]:
marathon_df['Event distance/length'].value_counts()

Event distance/length
50km              1522609
100km              951742
50mi               352181
56km               333253
87km               212062
                   ...
61.15km                 1
27:30h                  1
178km/2Etappen          1
740km                   1
158.5mi                 1
Name: count, Length: 2159, dtype: int64

In [130]:
marathon_df[(marathon_df['Event distance/length'].isin(['100km'])) & (marathon_df['Year of event'] == 2021)]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2763312,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,10:49:12 h,"*Cerritos, CA",USA,1970.0,M,M50,9.242,216401
2763313,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,10:50:28 h,"*Phoenix, AZ",USA,1984.0,M,M35,9.224,387546
2763314,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,10:56:55 h,"*Lakewood Ranch, FL",USA,1974.0,M,M45,9.134,55330
2763315,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,11:51:46 h,"*Lees Summit, MO",USA,1989.0,M,M23,8.43,387283
2763316,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,11:52:56 h,"*Idledale, CO",USA,1987.0,M,M23,8.416,240506
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137841,2021,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,16:29:06 h,"*South Lake Tahoe, CA",USA,1991.0,M,M23,6.066,947274
3137842,2021,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,16:34:44 h,"*Walnut Creek, CA",USA,1961.0,M,M55,6.032,25914
3137843,2021,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,16:46:37 h,"*Mountain House, CA",USA,1983.0,M,M35,5.961,638558
3137844,2021,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,16:50:12 h,"*Daly City, CA",USA,1976.0,M,M40,5.939,46381
3137845,2021,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,16:53:48 h,"*Chicago, IL",USA,1978.0,F,W40,5.918,590800

In [131]:
condition = marathon_df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0).isin(['USA','IND'])

In [132]:
M2021 = marathon_df[(marathon_df['Event distance/length'].isin(['100km'])) & (marathon_df['Year of event'] == 2021) & condition]

In [133]:
M2021.shape

(5057, 13)

In [134]:
M2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5057 entries, 2763312 to 3137845
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year of event              5057 non-null   int64
 1   Event dates                5057 non-null   object
 2   Event name                 5057 non-null   object
 3   Event distance/length      5057 non-null   object
 4   Event number of finishers  5057 non-null   int64
 5   Athlete performance        5057 non-null   object
 6   Athlete club               4291 non-null   object
 7   Athlete country            5057 non-null   object
 8   Athlete year of birth      5020 non-null   float64
 9   Athlete gender             5057 non-null   object
 10  Athlete age category       5021 non-null   object
 11  Athlete average speed      5057 non-null   object
 12  Athlete ID                 5057 non-null   int64
dtypes: float64(1), int64(3), object(9)
memory usage: 553.1+ KB

#### Removing the null values in age category

In [135]:
M2021.isnull().sum()

Year of event                  0
Event dates                    0
Event name                     0
Event distance/length          0
Event number of finishers      0
Athlete performance            0
Athlete club                 766
Athlete country                0
Athlete year of birth         37
Athlete gender                 0
Athlete age category          36
Athlete average speed          0
Athlete ID                     0
dtype: int64

In [136]:
M2021 = M2021.dropna(subset='Athlete year of birth')

In [137]:
M2021.shape

(5020, 13)

#### Removing the 'h' from Athlete performance and converting the column data type into a timedelta object

In [138]:
M2021['Athlete performance'] = M2021['Athlete performance'].str.split(' ').str.get(0)

In [139]:
M2021.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2763312,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,10:49:12,"*Cerritos, CA",USA,1970.0,M,M50,9.242,216401
2763313,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,10:50:28,"*Phoenix, AZ",USA,1984.0,M,M35,9.224,387546
2763314,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,10:56:55,"*Lakewood Ranch, FL",USA,1974.0,M,M45,9.134,55330
2763315,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,11:51:46,"*Lees Summit, MO",USA,1989.0,M,M23,8.43,387283
2763316,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,11:52:56,"*Idledale, CO",USA,1987.0,M,M23,8.416,240506

In [140]:
M2021['Athlete performance'] = pd.to_timedelta(M2021['Athlete performance'])
M2021.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2763312,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:49:12,"*Cerritos, CA",USA,1970.0,M,M50,9.242,216401
2763313,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:50:28,"*Phoenix, AZ",USA,1984.0,M,M35,9.224,387546
2763314,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:56:55,"*Lakewood Ranch, FL",USA,1974.0,M,M45,9.134,55330
2763315,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 11:51:46,"*Lees Summit, MO",USA,1989.0,M,M23,8.43,387283
2763316,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 11:52:56,"*Idledale, CO",USA,1987.0,M,M23,8.416,240506

#### Creating a new columnn named 'Athlete_age' with the ages of all the Athletes during 2021

In [141]:
M2021['Athlete_age'] = (2021 - M2021['Athlete year of birth']).astype(int)

In [142]:
M2021.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,Athlete_age
2763312,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:49:12,"*Cerritos, CA",USA,1970.0,M,M50,9.242,216401,51
2763313,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:50:28,"*Phoenix, AZ",USA,1984.0,M,M35,9.224,387546,37
2763314,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:56:55,"*Lakewood Ranch, FL",USA,1974.0,M,M45,9.134,55330,47
2763315,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 11:51:46,"*Lees Summit, MO",USA,1989.0,M,M23,8.43,387283,32
2763316,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 11:52:56,"*Idledale, CO",USA,1987.0,M,M23,8.416,240506,34

In [143]:
M2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5020 entries, 2763312 to 3137845
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year of event              5020 non-null   int64
 1   Event dates                5020 non-null   object
 2   Event name                 5020 non-null   object
 3   Event distance/length      5020 non-null   object
 4   Event number of finishers  5020 non-null   int64
 5   Athlete performance        5020 non-null   timedelta64[ns]
 6   Athlete club               4291 non-null   object
 7   Athlete country            5020 non-null   object
 8   Athlete year of birth      5020 non-null   float64
 9   Athlete gender             5020 non-null   object
 10  Athlete age category       5020 non-null   object
 11  Athlete average speed      5020 non-null   object
 12  Athlete ID                 5020 non-null   int64
 13  Athlete_age                5020 non-null   int64
dtypes: float64(1), int64(4), object(8), timedelta64[ns](1)
memory usage: 588.3+ KB

#### Dropping columns:'Athlete club', 'Athlete country', 'Athlete year of birth', 'Athlete age category'

In [144]:
M2021 = M2021.drop(['Athlete club', 'Athlete country', 'Athlete year of birth', 'Athlete age category'], axis = 1)

In [145]:
M2021 = M2021.reset_index(drop = True)

In [146]:
M2021.isna().sum()

Year of event                0
Event dates                  0
Event name                   0
Event distance/length        0
Event number of finishers    0
Athlete performance          0
Athlete gender               0
Athlete average speed        0
Athlete ID                   0
Athlete_age                  0
dtype: int64

#### Checking for any duplicates

In [147]:
M2021.duplicated().sum()

0

#### Converting the rest of the columns into correct data types

In [149]:
M2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year of event              5020 non-null   int64
 1   Event dates                5020 non-null   object
 2   Event name                 5020 non-null   object
 3   Event distance/length      5020 non-null   object
 4   Event number of finishers  5020 non-null   int64
 5   Athlete performance        5020 non-null   timedelta64[ns]
 6   Athlete gender             5020 non-null   object
 7   Athlete average speed      5020 non-null   object
 8   Athlete ID                 5020 non-null   int64
 9   Athlete_age                5020 non-null   int64
dtypes: int64(4), object(5), timedelta64[ns](1)
memory usage: 392.3+ KB

In [150]:
M2021['Athlete average speed'] = M2021['Athlete average speed'].astype(float)

In [160]:
M2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   event_date             5020 non-null   object
 1   event_name             5020 non-null   object
 2   distance               5020 non-null   object
 3   number_of_finishers    5020 non-null   int64
 4   athlete_id             5020 non-null   int64
 5   athlete_gender         5020 non-null   object
 6   athlete_age            5020 non-null   int64
 7   athlete_performance    5020 non-null   timedelta64[ns]
 8   athlete_average_speed  5020 non-null   float64
dtypes: float64(1), int64(3), object(4), timedelta64[ns](1)
memory usage: 353.1+ KB

In [152]:
M2021.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,Athlete_age
0,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:49:12,M,9.242,216401,51
1,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:50:28,M,9.224,387546,37
2,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:56:55,M,9.134,55330,47
3,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 11:51:46,M,8.430,387283,32
4,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 11:52:56,M,8.416,240506,34

#### Renaming column names to proper conventional names for easy handling

In [154]:
M2021 = M2021.rename(columns={'Year of event':'year',
                              'Event dates':'event_date',
                              'Event name':'event_name',
                              'Event distance/length':'distance',
                              'Event number of finishers':'number_of_finishers',
                              'Athlete performance':'athlete_performance',  
                              'Athlete gender':'athlete_gender',         
                              'Athlete average speed':'athlete_average_speed',
                              'Athlete ID':'athlete_id',
                              'Athlete_age':'athlete_age',
}   
)

In [155]:
M2021.head()

,year,event_date,event_name,distance,number_of_finishers,athlete_performance,athlete_gender,athlete_average_speed,athlete_id,athlete_age
0,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:49:12,M,9.242,216401,51
1,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:50:28,M,9.224,387546,37
2,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 10:56:55,M,9.134,55330,47
3,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 11:51:46,M,8.430,387283,32
4,2021,10.04.2021,The Zion 100 km Run (USA),100km,217,0 days 11:52:56,M,8.416,240506,34

#### Re-ordering the columns without the year column

In [156]:
M2021 = M2021[['event_date','event_name','distance','number_of_finishers','athlete_id','athlete_gender','athlete_age','athlete_performance','athlete_average_speed']]

In [158]:
M2021

,event_date,event_name,distance,number_of_finishers,athlete_id,athlete_gender,athlete_age,athlete_performance,athlete_average_speed
0,10.04.2021,The Zion 100 km Run (USA),100km,217,216401,M,51,0 days 10:49:12,9.242
1,10.04.2021,The Zion 100 km Run (USA),100km,217,387546,M,37,0 days 10:50:28,9.224
2,10.04.2021,The Zion 100 km Run (USA),100km,217,55330,M,47,0 days 10:56:55,9.134
3,10.04.2021,The Zion 100 km Run (USA),100km,217,387283,M,32,0 days 11:51:46,8.430
4,10.04.2021,The Zion 100 km Run (USA),100km,217,240506,M,34,0 days 11:52:56,8.416
...,...,...,...,...,...,...,...,...,...
5015,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,947274,M,30,0 days 16:29:06,6.066
5016,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,25914,M,60,0 days 16:34:44,6.032
5017,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,638558,M,38,0 days 16:46:37,5.961
5018,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,46381,M,45,0 days 16:50:12,5.939
5019,23.10.2021,Quicksilver 100 km Endurance Run (USA),100km,133,590800,F,43,0 days 16:53:48,5.918

In [159]:
M2021.to_csv('cleaned_M2021.csv', index = True)